/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Outfit:wght@100;300;400;500;600;700&display=swap');

:root {

    /* Colors */
    --primary: #4CCD86;
    --primary-gradient: linear-gradient(90deg, #4CCD86 0%, #91E774 100%);
    --primary-dark: #1FA022;
    --primary-light: #E4F7DD;
    --success: #4CCD86;
    --info: #5BCDDA;
    --warning: #FFC453;
    --danger: #F85858;
    --on-surface: #111213;
    --black: #000000;
    --white: #FFFFFF;
    --surface: #F0F0F0;
    --secondary: #D8D8D8;

    /* Typography */
    --heading: 68px;
    --second-heading: 48px;
    --second-heading-mobile: 38px;
    --sub-heading: 30px;
    --subtitle-lg: 20px;
    --title: 32px;
    --paragraph: 19px;
    --button-lg: 18px;
    --paragraph-sm: 16px;
    --subtitle: 14px;

    /* Spacing */

    --p-space-025: 1px;
    --p-space-05: 2px;
    --p-space-1: 4px;
    --p-space-2: 8px;
    --p-space-3: 12px;
    --p-space-4: 16px;
    --p-space-5: 20px;
    --p-space-6: 24px;
    --p-space-8: 32px;
    --p-space-10: 40px;
    --p-space-12: 48px;
    --p-space-16: 64px;
    --p-space-20: 80px;
    --p-space-24: 96px;
    --p-space-28: 112px;
    --p-space-32: 128px;

    /* Font Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;
}

*,
body {
    font-family: 'Outfit', sans-serif;
}